body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile {
    margin-top: 20px;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
}

.options {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.form-container {
    display: none;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 60%;
}


.text-container {
    display: none;
}


table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="number"], input[type="file"], select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }
    input[type="text"], input[type="number"], input[type="file"], input[type="datetime-local"], input[type="submit"], textarea {
        padding: 8px;
    }
    input[type="submit"] {
        padding: 10px;
    }
}



/* profile pic */

#profile_pic{
    width: 600px;
    height: 500px;
}

.upload-btn-wrapper[_ngcontent-ctj-c73] input[type=file][_ngcontent-ctj-c73] {
    left: 2rem;
    top: 2rem;
    opacity: 0;
    cursor: pointer;
    padding: 21px 50px;
    position: absolute;
    width: 2px;
    height: 0;
}


/* input[type=file] {
    display: block;
} */