<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sucessfully</title>
    <style>
        .container{
            width: 80vw;
            margin: auto;
            text-align: center;
            font-size: 40px;
            color: white;
            background-color: black;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Registration Successful</h1>
        </div>

    </div>


</body>

</html>